header h1 {
    color: white;
    font-size: 50px;
    padding-top: 48px;
    border-bottom: 3px solid rgb(190, 34, 138);
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 51.75%;
    margin-top: 0;
    
}

header {
    background-image: url(../images/orchid.jpg);
    background-position: left center;
    background-size: ;
    background-repeat: no-repeat;
    margin-bottom: ;

}
  

html {
    background-image: linear-gradient(to bottom, rgb(243, 131, 247), rgb(244, 209, 245));
    
}

.box-a {
    background-image: linear-gradient(to bottom, white, rgb(244, 209, 245));
    
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 150px;

}



.site-nav li {
    list-style: none;
    float:left;
    margin-left: 10px;
    padding-bottom: px;
    
}
.site-nav ul {
    margin: 0;
    padding: 0;

}
.site-nav a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 20px;
    border: 3px solid rgb(190, 34, 138);
    font-size: 20px;
    background-color: white;
    border-bottom: none;
}

.site-nav {
    margin-left: 192px;
    margin-bottom: 0px;
}

.site-nav a:hover {
    background-image: linear-gradient(to bottom, white, rgb(244, 209, 245));
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear:both;

}

.group {
    zoom: 1;

}

.container {
    color: black;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}


.container h1 {
    font-size: 22px;
    margin-bottom: 0;
    

}

.container ul {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 22px;
}

.content-area {
    border-top: 3px solid rgb(190, 34, 138);
    border-bottom: 3px solid rgb(190, 34, 138);
  margin-top: 0px;
    padding-bottom: 30px;
    
   
}

.core li {
    list-style: none;
    padding: 20px;
   margin-left: 40px;
   float: left;
    
}

.core h1 {
   padding-top: 10px;
    font-size: 32px;
}

.prof li {
    list-style: none;
    padding: 20px;
   margin-left: 70px;
   float: left;
       
}

.prof h1 {
    font-size: 32px;
}
.app-1 li {
    list-style: none;
    padding: 20px;
   margin-left: 30px;
       
}

.app-header h1 {
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.border-in-box {
    border-bottom: 3px solid rgb(190, 34, 138);
    padding-bottom: 10px;
}

.app-2 li {
    list-style: none;
    padding: 20px;
   margin-left: 30px;
       
}

.app-1 {
    width: 50%;
    text-align: center;
    float:left
    
}

.app-2 {
    width: 50%;
    text-align: center;
    float: left;

}